@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

h1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.head_container{
    background-color: #ffe600;
    height: 175px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid black ;
}